# 0.0 IMPORTS

In [4]:
import math
import numpy  as np
import pandas as pd
import inflection

import seaborn as sns

from matplotlib import pyplot as plt
from IPython.core.display import HTML

## 0.1 HELPER FUNCTIONS

In [5]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    
    sns.set()

In [6]:
jupyter_settings()

Populating the interactive namespace from numpy and matplotlib

## 0.2 LOADING DATA

In [10]:
df_sales_raw = pd.read_csv('../Data_Science_Em_Producao/data/train.csv', low_memory=False )
df_store_raw = pd.read_csv('../Data_Science_Em_Producao/data/store.csv', low_memory=False )

# merge
df_raw = pd.merge( df_sales_raw, df_store_raw, how='left', on = 'Store')

In [11]:
df_raw.sample()

        Store  DayOfWeek        Date  Sales  Customers  Open  Promo StateHoliday  SchoolHoliday StoreType Assortment  CompetitionDistance  CompetitionOpenSinceMonth  CompetitionOpenSinceYear  Promo2  Promo2SinceWeek  Promo2SinceYear PromoInterval
374533    849          3  2014-08-06   8677        909     1      1            0              1         c          c               5000.0                        NaN                       NaN       0              NaN              NaN           NaN

# 1.0 DESCRICAO DOS DADOS

In [12]:
df1 = df_raw.copy()

## 1.1 RENAME COLUMNS

In [13]:
cols_old = ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval']

snakecase = lambda x: inflection.underscore( x )

cols_new = list(map(snakecase, cols_old))

#rename
df1.columns = cols_new

## 1.2 Data Dimensions

In [14]:
print('Number of Rows: {}'.format( df1.shape[0]))
print('Number of Cols: {}'.format( df1.shape[1]))

Number of Rows: 1017209
Number of Cols: 18

## 1.3 Data Types

In [15]:
df1['date'] = pd.to_datetime( df1['date'])
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
dtype: object

## 1.4 Check NA

In [16]:
df1.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64

## 1.5 Fillout NA

In [17]:
#competition_distance  (distancia em metros do competidor mais proximo)
df1['competition_distance'] = df1['competition_distance'].apply(lambda x: 200000.0 if math.isnan(x) else x )

#competition_open_since_month (mes aproximado que o competidor mais proximo foi aberto)
df1['competition_open_since_month'] = df1.apply( lambda x: x['date'].month if math.isnan( x['competition_open_since_month']) else x['competition_open_since_month'], axis=1)

#competition_open_since_year   (ano aproximado que o competidor mais proximo foi aberto)
df1['competition_open_since_year'] = df1.apply( lambda x: x['date'].year if math.isnan( x['competition_open_since_year']) else x['competition_open_since_year'], axis=1)
                       
#promo2_since_week   (semana do calendario quando a loja começou a participar da promo2 0 não esta participando , 1 esta participando) 
df1['promo2_since_week'] = df1.apply( lambda x: x['date'].week if math.isnan( x['promo2_since_week']) else x['promo2_since_week'], axis=1)


#promo2_since_year (ano do calendario quando a loja começou a participar da promo2 0 não esta participando , 1 esta participando) 
df1['promo2_since_year'] = df1.apply( lambda x: x['date'].year if math.isnan( x['promo2_since_year']) else x['promo2_since_year'], axis=1)


#promo_interval ( quais os intervalos que a promo2 iniciou atraves dos intervalos com nome dos meses que a promocao ficou ativa ) 
month_map = { 1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec' }

df1['promo_interval'].fillna(0, inplace=True)

df1['month_map'] = df1['date'].dt.month.map( month_map )

df1['is_promo'] = df1[['promo_interval', 'month_map']].apply( lambda x: 0 if x['promo_interval'] == 0 else 1 if x['month_map'] in x['promo_interval'].split(',') else 0, axis=1 )

In [18]:
df1.sample(5).T

                                           214084               830306               708391               181842               855103
store                                           5                  417                   37                   98                  684
day_of_week                                     2                    1                    5                    3                    7
date                          2015-01-20 00:00:00  2013-06-17 00:00:00  2013-10-04 00:00:00  2015-02-18 00:00:00  2013-05-26 00:00:00
sales                                        3701                10893                 9468                 5883                    0
customers                                     485                 1094                 1107                  433                    0
open                                            1                    1                    1                    1                    0
promo                                           0                    1                    0                    1                    0
state_holiday                                   0                    0                    0                    0                    0
school_holiday                                  0                    0                    0                    0                    0
store_type                                      a                    a                    c                    d                    d
assortment                                      a                    c                    a                    c                    c
competition_distance                      29910.0                840.0               4230.0              15140.0                680.0
competition_open_since_month                  4.0                  6.0                 12.0                 12.0                  5.0
competition_open_since_year                2015.0               2013.0               2014.0               2006.0               2013.0
promo2                                          0                    1                    0                    1                    1
promo2_since_week                             4.0                 10.0                 40.0                  1.0                 22.0
promo2_since_year                          2015.0               2014.0               2013.0               2012.0               2012.0
promo_interval                                  0      Jan,Apr,Jul,Oct                    0      Jan,Apr,Jul,Oct      Jan,Apr,Jul,Oct
month_map                                     Jan                  Jun                  Oct                  Feb                  May
is_promo                                        0                    0                    0                    0                    0

In [19]:
df1.isna().sum()

store                           0
day_of_week                     0
date                            0
sales                           0
customers                       0
open                            0
promo                           0
state_holiday                   0
school_holiday                  0
store_type                      0
assortment                      0
competition_distance            0
competition_open_since_month    0
competition_open_since_year     0
promo2                          0
promo2_since_week               0
promo2_since_year               0
promo_interval                  0
month_map                       0
is_promo                        0
dtype: int64